<html>
  <head>
    <style type="text/css" media="screen">
    html,body{margin:0;padding:0;}
    h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;}
    html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
    a:focus{outline:thin dotted;}
    a:hover,a:active{outline:0;}
    body{background-color:#ffffff;margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:18px;color:#404040;}
    .container{width:940px;margin-left:auto;margin-right:auto;zoom:1;}.container:before,.container:after{display:table;content:"";zoom:1;}
    .container:after{clear:both;}
    a{color:#0069d6;text-decoration:none;line-height:inherit;font-weight:inherit;}a:hover{color:#00438a;text-decoration:underline;}
    a.build{padding-right: 20px}
    p{font-size:13px;font-weight:normal;line-height:18px;margin-bottom:9px;}p small{font-size:11px;color:#bfbfbf;}
    h1,h2,h3,h4,h5,h6{font-weight:bold;color:#404040;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#bfbfbf;}
    h1{margin-bottom:18px;font-size:30px;line-height:36px;}h1 small{font-size:18px;}
    code,pre{padding:0 3px 2px;font-family:Monaco, Andale Mono, Courier New, monospace;font-size:12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
    code{background-color:#fee9cc;color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
    pre{background-color:#f5f5f5;display:block;padding:8.5px;margin:0 0 18px;line-height:18px;font-size:12px;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
    table{border-collapse:collapse;border-spacing:0;}
    table{width:100%;margin-bottom:18px;padding:0;font-size:13px;border-collapse:collapse;}
    table th,table td{padding:10px 10px 9px;line-height:18px;text-align:left;}
    table th{padding-top:9px;font-weight:bold;vertical-align:middle;}
    table td{vertical-align:top;border-top:1px solid #ddd;}
    table tbody th{border-top:1px solid #ddd;vertical-align:top;}
    footer{margin-top:17px;padding-top:17px;border-top:1px solid #eee;}
    td.state { width: 10em; }
    td.building {background-color: #FDF5D9;}
    td.success {background-color: #D1EED1;border-color: #BFE7BF;}
    td.unstable {background-color: #FDDFDE;}
    td.aborted {background-color: #eee;}
    .topheader{padding-bottom:10px;padding-left:20px;margin-bottom:20px;margin-top:20px;border-bottom:1px solid #DDD;font-family:Helvetica,Arial,Verdana,sans-serif;font-size:60px;font-weight:bold;letter-spacing:-0.05em;color:#111;}
    .spinner{ height: 10px; float: right}
    </style>
  </head>

  <body>
    <div class="topheader">Selenium CI</div>
    <div class="container">
      <% @builds.each do |rev, subs| %>
      <h1><a class="build href="http://code.google.com/p/selenium/source/detail?r=<%= rev %>">r<%= rev %></a><%= @users[rev] %></h1>
        <table>
          <thead>
            <tr class="header">
              <th>Name</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            <% subs.sort_by { |e| e['display_name'] }.each do |build| %>
            <tr>
              <td><a href="<%= build['url'] %>"><%= build['display_name'] %></a></td>
              <% if build['state'].to_s == 'building' %>
                <td class="state building">building <img src="img/ajax-loader.gif" class="spinner"></td>
              <% else %>
                <td class="state <%= build['state'] %>"><%= build['state'] %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </body>
</html>
