<table class="matrix bordered-table" id="matrix-<%= @revision %>">
  <thead>
    <tr>
      <th></th>
      <% @columns.each do |name| %>
        <th><%= name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |rname| %>
      <tr>
        <th><%= rname %></th>
        <% @columns.each do |cname| %>
        <% if (builds = @builds[[rname, cname]]) && !builds.empty? %>
          <td>
            <ul class="matrix-build">
            <% builds.each do |build| %>
              <li><a class="text-<%= build.state %>" href="<%= build.url %>"><%= build.state %></a></li>
            <% end %>
            </ul>
          </td>
        <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>